# cd aliases
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

#APT shortcuts
alias aud='sudo apt update'
alias aug='sudo apt upgrade'
alias ai='sudo apt install'
alias ar='sudo apt remove'
alias as='sudo apt search'

# Color for manpages in less makes manpages a little easier to read:
export LESS_TERMCAP_mb=$'\E[01;31m'
export LESS_TERMCAP_md=$'\E[01;31m'
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_se=$'\E[0m'
export LESS_TERMCAP_so=$'\E[01;44;33m'
export LESS_TERMCAP_ue=$'\E[0m'
export LESS_TERMCAP_us=$'\E[01;32m'

# History
export HISTFILESIZE=20000
export HISTSIZE=10000
shopt -s histappend
# Combine multiline commands into one in history
shopt -s cmdhist
# Ignore duplicates, ls without options and builtin commands and ignore same sucessive entries.
HISTCONTROL=ignoreboth
export HISTIGNORE="&:ls:[bf]g:exit"

#Default editor
export EDITOR=nano

#Logs
alias logs="find /var/log -type f -exec file {} \; | grep 'text' | cut -d' ' -f1 | sed -e's/:$//g' | grep -v '[0-9]$' | xargs tail -f"

#Git
alias gst='git status'
alias gc='git commit'
alias gp='git push'
alias ga='git add'
alias gaa='git add --all'
alias gd='git diff'
alias gb='git branch'
alias glog='git log --oneline --decorate=full --color --graph'
alias gco='git checkout'
alias gk='gitkraken .'
alias gr='git rebase'
alias gri='git rebase --interactive'
alias gcp='git cherry-pick'
alias grm='git rm'

#IP
alias ip="ip addr | grep -w inet | gawk '{if (NR==2) {$0=$2; gsub(/\//,\" \"); print $1;}}'"

#Battery
alias bat='upower -i /org/freedesktop/UPower/devices/battery_BAT0'

# prompt reformat
function gitbranch() {
    local res=$(if [ -d .git ]; then git branch; fi | grep '*')
    if [ ! -z "$res" ]; then echo "[${res:2}]"; fi
}

function returncode() {
    local res=$?
    if [ ! $res -eq 0 ]; then echo "(ret: $res)"; fi
}

function gitchanges() {
    if [ -d .git ]; then
        if [ "$(git status --untracked-files=no --porcelain)" != "" ]; then 
        	echo $'(\u2605)'; 
        else
        	echo $'(\u2713)';
        fi
    fi
}

function sshflag() {
  local SSH_IP=`echo $SSH_CLIENT | awk '{ print $1 }'`
  local SSH2_IP=`echo $SSH2_CLIENT | awk '{ print $1 }'`
  if [ $SSH2_IP ] || [ $SSH_IP ] ; then
    local SSH_FLAG="@\h"
  fi
  echo $SSH_FLAG
}

export PS1='\[\e[1;32m\][$(date +%H:%M)][\u`sshflag`:\w] `returncode``gitbranch``gitchanges`\$\[\e[0m\] '